@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
<<<<<<< HEAD
/* Vercel version */
@font-face {
		font-family: 'Steelfish';
		src: url('../static/fonts/steelfish-rg.otf');
        color: #000;
	}

/* Local version */
=======

    /* Local */
>>>>>>> 0d5d13b491f694d80d9bb60e073b5dc6f846b684
=======

    /* Local */
>>>>>>> 0d5d13b491f694d80d9bb60e073b5dc6f846b684
	@font-face {
		font-family: 'Steelfish';
		src: url('./fonts/steelfish-rg.otf');
        color: #000;
	}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

body {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: larger;
}

h5 {
    font-size: medium;
}

h6 {
    font-size: small;
}

p {
    color: #000;
}

