@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Vercel version */
@font-face {
    font-family: 'Steelfish';
    src: url('../static/fonts/steelfish-rg.otf');
    color: #000;
}

/* * Local version */
@font-face {
    font-family: 'Steelfish';
    src: url('./fonts/steelfish-rg.otf');
    color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    width: 100vw;
    padding: 0;
    margin: 0;
} */

h1 {
    font-size: 5rem;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: larger;
}

h5 {
    font-size: medium;
}

h6 {
    font-size: small;
}

p {
    color: #000;
}

.slide-in-right {
    -webkit-animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1500ms;
    animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1500ms;
    animation-iteration-count: 1;

}

.bounce-up-down {
    animation: bounce-up-down 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.bounce-right {
    animation: bounce-right 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.bounce-left {
    animation: bounce-left 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.pulsate {
    animation: pulsate 1s infinite;
    /* animation-timing-function: linear; */
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}


@-webkit-keyframes bounce-up-down {
    from {
        -webkit-transform: translate3d(0, 10px, 0);
    }

    to {
        -webkit-transform: translate3d(0, -10px, 0);
    }
}

@keyframes bounce-up-down {
    from {
        transform: translate3d(0, 10px, 0);
    }

    to {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes bounce-right {
    from {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: translate3d(-5px, 0, 0);
    }
}

@-webkit-keyframes bounce-right {
    from {
        -webkit-transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(-5px, 0, 0);
    }
}

@keyframes bounce-left {
    from {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: translate3d(5px, 0, 0);
    }
}

@-webkit-keyframes bounce-left {
    from {
        -webkit-transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(5px, 0, 0);
    }
}


@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}